@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
  background-color: aliceblue;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
}
.array-container {
  height: 80vh;
  margin-top: 160px;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  justify-content: space-between;
  align-items:end;
  padding: 5px;
}
.item {
  height: 90%;
  width: 20%;
  margin-right: 1px;
  background-color: #373737;
  border-radius: 5px;
}
header {
  height: 80px;
  background-color: #001F3F;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
header h1 {
  user-select: none;
  color: rgb(227, 230, 233);
}
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 5vw;
  top: 140px;
}
.header-left h1 {
  margin: 0 14px;
  text-align: center;
  color: black;
}
.sort-title {
 position: absolute; 
 top: 80px;
 font-family: 'Electrolize', sans-serif;
 font-size: 80px;
}
.size-title {
  font-size: 26px;
}


.slider {
  margin: 0 14px;
}
input {
  --c: lightblue; /* active color */
  --g: 2px; /* the gap */
  --l: 2px !important; /* line thickness*/
  --s: 25px; /* thumb size*/
  
  width: 250px;
  height: var(--s); /* needed for Firefox*/
  --_c: color-mix(in srgb, var(--c), #000 var(--p,0%));
  -webkit-appearance :none;
  -moz-appearance :none;
  appearance :none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}
input:focus-visible,
input:hover{
  --p: 25%;
}
input:active,
input:focus-visible{
  --_b: var(--s)
}
/* chromium */
input[type="range" i]::-webkit-slider-thumb{
  height: var(--s);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b,var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg,var(--_c) 50%,#ababab 0) 0 1/calc(50% - var(--l)/2) 100vw/0 calc(100vw + var(--g));
  -webkit-appearance: none;
  appearance: none;
  transition: .3s;
}
/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: var(--s);
  width: var(--s);
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b,var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg,var(--_c) 50%,#ababab 0) 0 1/calc(50% - var(--l)/2) 100vw/0 calc(100vw + var(--g));
  -moz-appearance: none;
  appearance: none;
  transition: .3s;
}
@supports not (color: color-mix(in srgb,red,red)) {
  input {
    --_c: var(--c);
  }
}

